@use '../../CssUtils/color.scss';


.mainContainer {
    color: color.$yellowSecondary;
    background: color.$yellowPrimary;
    border: 6px solid color.$yellowSecondary;
    box-shadow: 4px 4px color.$yellowSecondary;
    transform: translateY(-4px);
}